<div showoff>
  <div class="panel">
    <span class="subtitle">Currently Dominating</span>
    <h2 class="king"><i class="fa fa-trophy"></i> {{players.0.name}}</h2>
  </div>
</div>

<div leaderboard>
  <table>
    <thead>
      <tr>
        <th class="rank-heading"><i class="fa fa-certificate"</th>
        <th class="name-heading">Name </th>

        <th class="elo-heading">Elo <i class="fa fa-line-chart"></th>
        <th class="win-heading"><i class="fa fa-trophy"></i></th>
        <th class="lose-heading"><i class="fa fa-frown-o"></i></th>
        <th class="streak-heading"><i class="fa fa-fire"></i></th>
        <th class="lastten-heading"><i class="fa fa-history"></i> 10</th>
        <!-- <th class="">ID</th> -->
      </tr>
    </thead>
    <tbody>
      {{#each players}}
      <tr>
        <td class="rank">{{@index}}</td>
        <td class="name">{{name}}</td>

        <td width="15%" class="elo">{{elo}}</td>
        <td width="10%" class="win">{{wins}}</td>
        <td width="10%" class="lose">{{losses}}</td>
        <td width="10%" class="streak">{{streak}}</td>
        <td width="15%" class="lastten">{{lastTen}}</td>

        <!-- <td class="">{{id}}</td> -->
      </tr>
      {{/each}}
    </tbody>
  </table>




</div>
